body{
    box-sizing: border-box;
    background-color: #222222;
    background-image: url(../../data/mustang1.jpeg);
    background-size: 1550px;
    background-repeat: no-repeat;
    color: white;
}

body::-webkit-scrollbar{
    width: 8px;
    background: rgb(0,0,0);
}

body::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: linear-gradient(45deg, #454545, #020202);
}